<div class="container">
  <div class="row">
    <div class="col-lg-6 offset-lg-3 mt-3">
      <h2>User Info</h2>
      <%= form_with model:@user, local:true do |f| %>
        <h4>Image</h4>
        <%= f.attachment_field :profile_image %>

        <%= f.submit 'Upfate User', class: 'btn btn-secondary' %>

      <% end %>

    </div>
  </div>
</div>



