<div class="container">
  <div class="row mt-3">
    <div class="col-lg-6 offset-lg-3">
      <h1>Editing Book</h1>
        <%= form_with model:@book, local:true do |f| %>
          <h4>Title</h4>
          <%= f.text_field :title %>
          <h4>Opinion</h4>
          <%= f.text_area :body %>
          <%= f.submit 'Update Book', class: 'btn btn-success' %>
        <% end %>
    </div>
  </div>
</div>