<div class="container">
  <div class="row">
    <div class="col-lg-4 mt-3">
      <h2>User Info</h2>
      <table>
        <tbody>
          <tr>
            <td>name</td>
            <td><%= current_user.name %></td>
          </tr>
          <tr>
            <td>introduction</td>
            <td><%#= current_user_introduction %></td>
          </tr>
        </tbody>
      </table>

      <%= link_to '' , edit_user_path(@user.id), class: "fas fa-user-cog btn btn-outline-secondary mx-auto d-block btn-sm" %>

    </div>
  </div>
</div>



